{% extends 'navbar.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
	<meta charset="utf-8">
  
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  
	<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">

{% endblock %}

{% block body %}

<div class="py-5">
    
<div class="container">
      <div class="row">
        
<div class="col-md-12">
          
<div class="card text-center">
            
<div class="card-header" style="">FORM BUAT PEMINJAMAN</div>
            
<div class="card-body" style="">
              
<h5 class="" style="">Sepeda Stasiun&nbsp;</h5>
              
<div class="btn-group">
                
<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Choose</button>
                
<div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
                  <div class="dropdown-divider"></div>
                  
<a class="dropdown-item" href="#">Separated link</a>
                
</div>
              
</div>
            
</div>
                   
</div>
        
</div>
      
</div>
    
</div>
  
</div>
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
<pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>