<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-circle-o"></i>
        <b> BIKE SHARING</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <font color="white"> Informasi Saldo: <br> [SALDO] </font>
          </li>
          <li class="nav-item"> <a class="nav-link" href="#">Daftar Stasiun</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Daftar Sepeda</a> </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Peminjaman</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Buat Peminjaman</a>
              <a class="dropdown-item" href="#">Daftar Peminjaman</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transaksi</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Topup Sharebike Pay</a>
              <a class="dropdown-item" href="#">Riwayat Transaksi</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#">Daftar Acara</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Daftar Voucher</a> </li>
        </ul> <a href="{% url 'firstpage:logout' %}" class="btn btn-primary navbar-btn ml-md-2">Logout</a>
      </div>
    </div>
  </nav>
  <p> saya {{role}} </p>
</body>