<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">

</head>

<body>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Bike Sharing</h1>
          <form class="text-left" action="{% url 'firstpage:sign-up' %}" method="POST">
            {% csrf_token %}
            <div class="dropdown">
              <label for="form15">Role</label>
              <br>
               <div class="dropdown-dark">
                <select name="role" class="dropdown-select">
                  <option value="">Select…</option>
                  <option value="1">Admin</option>
                  <option value="2">Anggota</option>
                  <option value="3">Petugas</option>
                </select>
            </div>
            <div class="form-group"> <label for="form16">Nomor KTP</label> <input type="text" class="form-control" id="form16"> </div>
            <div class="form-group"> <label for="form17">Nama Lengkap</label> <input type="text" class="form-control" id="form17"> </div>
            <div class="form-group"> <label for="form18">Email</label> <input type="email" class="form-control" id="form18"> </div>
            <div class="form-group"> <label for="form18">Tanggal lahir</label> <input type="date" class="form-control" id="form18"> </div>
            <div class="form-group"> <label for="form17">Nomor Telpon</label> <input type="text" class="form-control" id="form17"> </div>
            <div class="form-group"> <label for="form17">Alamat</label> <input type="text" class="form-control" id="form17"> </div>
            <div class="form-row">
            </div> <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>

  <script>
function myFunction() {
  var x = document.getElementById("dropdown").name;
  document.getElementById("demo").innerHTML = x;
}
</script>

</body>

</html>