{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% endblock title %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
{% endblock %}

{% block body %}

<section class="add">
  <div class="container-edit">
      <div class="add-content">
        {% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
        <div class="row">
          <div class="col-md-6">
            <div class="add-form">
                <h2 class="form-title1">Penambahan stasiun</h2>
                <form action="/stasiun/poststasiun" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="name"><i class="name"></i></label>
                      <input type="text" name="nama" id="name" placeholder="Nama" required />
                  </div>
                  <div class="form-group">
                      <label for="alamat"><i class="name"></i></label>
                      <input type="text" name="alamat" id="name" placeholder="Alamat" required />
                  </div>
                  <div class="form-group">
                      <label for="longitude"><i class="name"></i></label>
                      <input type="text" name="latitude" id="name" placeholder="Latitude" />
                  </div>
                  <div class="form-group">
                      <label for="latitude"><i class="name"></i></label>
                      <input type="text" name="longitude" id="name" placeholder="Longitude" />
                  </div>
                  <div class="form-group form-button">
                      <input type="submit" name="add" id="add" class="form-submit" value="Submit"/>
                  </div>
                </form>
            </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
