{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'material-design-iconic-font.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>


{% endblock %}

{% block body %}

<section class="update">
    <div class="container-edit">
        <div class="update-content">
          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
              <div class="update-form">
                  <h2 class="form-title">Update Sepeda</h2>
                  <form action="/sepeda/postsepeda" method="POST">
                    <div class="form-group">
                        <label for="name"><i class="name"></i></label>
                        <input type="text" name="name" id="name" placeholder="Merk" required />
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="name"></i></label>
                        <input type="text" name="name" id="name" placeholder="Jenis" required />
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="name"></i></label>
                        <input type="text" name="name" id="name" placeholder="Status" required />
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="name"></i></label>
                        <input type="text" name="name" id="name" placeholder="Stasiun" required />
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="name"></i></label>
                        <input type="text" name="name" id="name" placeholder="Penyumbang" />
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="update" id="update" class="form-submit" value="Update"/>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
{% endblock %}
