{% extends 'navbar.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>


{% endblock %}

{% block body %}

<section class="add">
  <div class="container-edit">
      <div class="add-content">
        {% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
        <div class="row">
          <div class="col-md-6">
            <div class="add-form">
                <h2 class="form-title1">Penambahan Sepeda</h2>
                <form action="/sepeda/postsepeda" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="merk"><i class="name"></i></label>
                      <input type="text" name="merk" id="name" placeholder="Merk" required />
                  </div>
                  <div class="form-group">
                      <label for="jenis"><i class="name"></i></label>
                      <input type="text" name="jenis" id="name" placeholder="Jenis" required />
                  </div>
                  <div class="form-group">
                      <label for="status"><i class="name"></i></label>
                      <input type="text" name="status" id="name" placeholder="Status" required />
                  </div>
                  <div class="form-group">
                      <label for="stasiun"><i class="name"></i></label>
                      <input type="text" name="stasiun" id="name" placeholder="Stasiun" required />
                  </div>
                  <div class="form-group">
                      <label for="penyumbang"><i class="name"></i></label>
                      <input type="text" name="penyumbang" id="name" placeholder="Penyumbang" />
                  </div>
                  <div class="form-group form-button">
                      <input type="submit" name="add" id="add" class="form-submit" value="Submit"/>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
