{% extends 'navbar.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<style>
  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    text-align:center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {background-color: #ddd;}

  .show {display: block;}
</style>
{% endblock %}

{% block body %}

<div class="container-daftar">
    <div class="add-content">
      <div class="row">
            <h2 class="form-title1">Daftar Sepeda</h2>
            <div class="container-sorting">
              <div class="row">
                <div class="dropdown" style="position: relative; left: -190px; top: 50px; width: 240px; height:30px;>
                    <button onclick="myFunction()" type="button" class="btn btn-primary btn-xs dropdown-toggle">Sorting</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="{% url "stasiun:sortStasiunASC" %}">ASC</a>
                      <a href="{% url "stasiun:sortStasiunDESC" %}">DESC</a>
                    </div>
                </div>
              </div>
            </div>
            {% if request.session.role == "petugas" %}
            <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">

               <thead>
                  <th style="text-align: center;">Nomor</th>
                  <th style="text-align: center;">Merk</th>
                  <th style="text-align: center;">Jenis</th>
                  <th style="text-align: center;">Stasiun</th>
                  <th style="text-align: center;">Status</th>
                  <th style="text-align: center;">Penyumbang</th>
                  <th style="text-align: center;">Action</th>
               </thead>
              <tbody>
               {% for i in sepeda %}
                    <tr>
                    <td>{{i.2}}</td>
                    <td>{{i.3}}</td>
                    <td>{{i.4}}</td>
                    <td>{{i.5}}</td>
                    <td>{{i.0}}</td>
                    <td>{{i.1}}</td>
                    <td><a data-placement="top" data-toggle="tooltip" href="{% url 'sepeda:updatesepeda' %}" title="Update"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Update</button></a>
                        <a data-placement="top" data-toggle="tooltip" title="Delete"><a href="url_to_delete" class="btn btn-danger btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"  onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
                {% endfor %}
                </tbody>

            </table>
          {% elif request.session.role == "anggota" %}
          <table id="mytable" class="table table-bordred table-striped">

             <thead>
                <th style="text-align: center;">Nomor</th>
                <th style="text-align: center;">Merk</th>
                <th style="text-align: center;">Jenis</th>
                <th style="text-align: center;">Stasiun</th>
                <th style="text-align: center;">Status</th>
                <th style="text-align: center;">Penyumbang</th>
                <th style="text-align: center;">Action</th>
             </thead>
            <tbody>
             {% for i in sepeda %}
                  <tr>
                  <td>{{i.2}}</td>
                  <td>{{i.3}}</td>
                  <td>{{i.4}}</td>
                  <td>{{i.5}}</td>
                  <td>{{i.0}}</td>
                  <td>{{i.1}}</td>
                  <td><a data-placement="top" data-toggle="tooltip" title="Pinjam"><button class="btn btn-primary btn-xs" href="{% url "sepeda:sepeda" %}">Pinjam</button></a></td>
                  </tr>
              </tbody>
              {% endfor %}
          </table>
          {% endif %}
          </div>
      </div>
  </div>
</div>

<script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }


    $(document).ready( function () {
        $('#mytable').DataTable();
    } );

    </script>
{% endblock %}
